# Build outputs
**/bin/
**/obj/
**/out/

#tracker files
track.md
progress.md

# Dependencies
packages/
node_modules/

# Rider / IntelliJ
.idea/
.vscode/
.vs/
*.sln.iml
*.suo
*.user
*.userprefs
*.userosscache
*.sln.docstates

# Test results
**/TestResults/

# Environment specific settings
.env
.env.local
*.env.*

# NuGet
**/packages/
**/artifacts/

# Logs
*.log

# Docker
**/.docker/

# OS
.DS_Store
Thumbs.db
